html {
    width: 100%;
    height: 100%;
}
/*字體*/
@font-face {
      font-family: avant;
      src: url(fonts/avantgargotitctee.ttf);
}
@font-face {
      font-family: NotoSans_light;
      src: url(fonts/NotoSansCJKtc-Light.otf);
}
@font-face {
      font-family: NotoSans_bold;
      src: url(fonts/NotoSansCJKtc-Bold.otf);
}
@font-face {
      font-family: calibri;
      src: url(fonts/calibri.ttf);
}
/*navbar*/
#logo{
	width: 40%;
}
.navbar {
  background-color: #F6E981/*#F6E981*/;
  border-color: transparent;
  font-family: avant;
  padding-top: 0.5%;
}
.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}
.navbar-collapse ul li a{
  color: #2B394A!important;
  font-size: 1.5vw;
  padding-bottom: 0.5rem;
}
.navbar-collapse ul li:hover{
  border-bottom: 2px solid;
  color: #2B394A;
}

.current { 
  border-bottom: 2px solid #2B394A;
  text-decoration: none; 
}
/*yellow part*/

#slogan{
  background-color: #F6E981;
}
#book{
  width: 100%;
}
#descrip{
	position: relative;
	text-align: center;
}
h1{
  font-family: NotoSans_bold;
  font-size:22pt;
  color: #223F82;
  padding-top: 40%;
  padding-bottom: 30%;
}


/*blue part*/
#member{
  background-color: #1E2A44;
  color: #FBFBFC;
}
h2{
  font-family: NotoSans_bold;
  color: #F6E981;
  margin-top: 5%;
}
p{
  font-family: calibri;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14pt;
  letter-spacing: 1pt;
  margin-top: 5%;

}
#memrow{
  margin-top: 5%;
}

.memeach{
  margin-bottom: 15%;
}
h3{
  font-family: NotoSans_light;
  font-size: 18pt;
  text-align: center;
  letter-spacing: 4px;



}
h4{
  font-family: calibri;
  font-size: 16pt;
  text-align: center;
  letter-spacing: 3px;


}
h5{
  font-family: NotoSans_light;
  font-size: 12pt;
  text-align: center;
  letter-spacing: 2px;
  line-height: 24px;

}

span.rollover {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background:url(img/mail_icon.png);
	cursor: pointer;
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: 10;
	opacity: 0;
}

span.rollover:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
}c