html {
    width: 100%;
    height: 100%;
}
/*fonts*/
@font-face {
      font-family: avant;
      src: url(fonts/avantgargotitctee.ttf);
}
@font-face {
      font-family: calibri;
      src: url(fonts/calibri.ttf);
}
@font-face {
      font-family: calibri_bold;
      src: url(fonts/calibri_bold.ttf);
}
/*navbar*/
.navbar {
  background-color: #F6E981/*#F6E981*/;
  border-color: transparent;
  font-family: avant;
  padding-top: 0.5%;
}
.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}
.navbar-collapse ul li a{
  color: #2B394A!important;
  font-size: 15pt;
  padding-bottom: 0.5rem;
}
.navbar-collapse ul li:hover{
  border-bottom: 2px solid;
  color: #2B394A;
}

.current { 
  border-bottom: 2px solid #2B394A;
  text-decoration: none; 
}

/*form part*/
h1{
  font-family: calibri_bold;
  font-size: 25pt;
}
.login-page{
  padding-top: 100px;
}
.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding:2% 2% 0.5% 2%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: calibri;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 8px;
  height: 45px;
}
input[type=text],input[type=password] {
    border: 1px solid #D3D3D3;
    border-radius: 8px;
}
input:focus{
    border: 1px solid pink!important;
}
.form button {
  font-family: calibri_bold;
  outline: 0;
  background: #E16E62;
  border-radius: 5px;
  width: 100%;
  border: 0;
  padding: 8px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  height: 45px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #cd5c5c;
}
p{
  margin-top: 15px!important;
  color: black!important;
  font-family: calibri;
  font-size: 15pt!important;

}
h2{
  font-family: calibri;
  color: black;
  font-size: 12px;
}
.form .message {
  margin-top: 40px!important;
  color: black;
  font-size: 12px;
}
.form .message a {
  font-family: calibri_bold;
  color: black;
  text-decoration: none;
  font-size: 12px;
}
.form .message a:hover{
  font-family: calibri_bold;
  color: black;
  text-decoration: underline;
  font-size: 12px;
}
.form .register-form {
  display: none;
}


.social-button {
    font-family: calibri;
    font-size: 14pt;
    background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 45px;
    line-height: 50px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    border-radius: 8px;
    margin: 10px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 20%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#facebook-connect {
    background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/facebook.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
}

#facebook-connect:hover {
    border-color: rgb(60, 90, 154);
    background: rgb(60, 90, 154) url('https://eswarasai.com/projects/social-login/img/facebook-white.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
    text-decoration: none;
}

#facebook-connect span {
    box-sizing: border-box;
    color: rgb(60, 90, 154);
    cursor: pointer;
    text-align: center;
    border: 0px none rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#facebook-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#google-connect {
    background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('https://eswarasai.com/projects/social-login/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
    text-decoration: none;
}

#google-connect span {
    box-sizing: border-box;
    color: rgb(220, 74, 61);
    cursor: pointer;
    text-align: center;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#google-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#tele{
  width:100px;
  position: fixed;
  right: 0px;
  bottom: 0px;
}


